canvas {
    display: block;
    margin: auto;
}

.wrapper {
    margin: 0 auto;
    margin-top: 2em;
}

.instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

.score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

.game-over-overlay {
    background-color: black;
    opacity: .5;
}

.game-over {
    text-align: center;
}

.game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

.game-over button {
    font-size: 1.5em;
}