/* MULTIP- */
.content {
    color: #fff;
    background-color: rgba(48, 87, 240, 0.75);
}

img {
    max-width: 25%;
}

/* PARALLAX */
.fixed-parallax .image {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}
.fixed-parallax .image.one {
    background-image: url("../images/WP_20180821_17_57_49_Pro.jpg");
}
.fixed-parallax .image.two {
    background-image: url("../images/WP_20180821_18_09_00_Pro.jpg");
}
.fixed-parallax .image.three {
    background-image: url("../images/WP_20180822_10_50_54_Pro.jpg");
}
.fixed-parallax .image.four {
    background-image: url("../images/WP_20180822_11_09_02_Pro.jpg");
}
.fixed-parallax .image.five {
    background-image: url("../images/WP_20180822_12_09_51_Pro.jpg");
}
.fixed-parallax .image.six {
    background-image: url("../images/WP_20180822_12_11_33_Pro.jpg");
}
.fixed-parallax .image.seven {
    background-image: url("../images/WP_20180822_12_41_47_Pro.jpg");
}
.fixed-parallax .image.eight {
    background-image: url("../images/WP_20180822_12_44_47_Pro.jpg");
}
.fixed-parallax .image.nine {
    background-image: url("../images/WP_20180822_14_20_35_Pro.jpg");
}
.fixed-parallax .image.ten {
    background-image: url("../images/P_20180805_1000342.jpg");
}
