<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentbook">
    <div id="app"></div>
    <script type="text/javascript" th:src="@{built/bundleadbook.js}">
    </script>
<!--    <script th:type="text/babel" th:src="@{/src/js/react/module_adbook.jsx}">-->
<!--    </script>-->

</div>
