<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentblogtable" class="container grid-lg">

    <div class="timeline" th:if="${model_JSONHIST != null}">
        <div th:include="fragments/blog.html :: contentblogtable_record"></div>
    </div>

    <!--        <script type="text/javascript" th:src="@{built/jquery-3.4.1.min.js}"></script>-->
    <script th:inline="javascript">
        //something...
    </script>

</div>

<div th:fragment="contentblogtable_record">
    <dd th:each="record, iterrecord : ${model_JSONHIST}">
        <dl th:if="${record.getContenertype() == 'BLOGNEWSENTRY' or record.getContenertype() == 'BLOGTECHENTRY'}" >
            <div class="timeline-item" id="timeline-example-2">
                <div class="timeline-left">
                    <a class="timeline-icon icon-lg" href="#timeline-example-2">
                        <i class="icon icon-check"></i>
                    </a>
                </div>
                <div class="timeline-content">
                    <dd class="label" th:if="${record.getContenerdate() != null}" th:text="${record.getContenerdate()}"></dd>
                    <div>
                        <img th:if="${record.getContenerphoto() != null}" th:src="${record.getContenerphoto()}"></img>
                    </div>
                    <dd>
                        <span class="label" th:if="${record.getContenername() != null}" th:text="${record.getContenername() + ':'}"></span>
                        <span class="label label-secondary" th:if="${record.getContenersubname() != null}" th:text="${record.getContenersubname()}"></span>
                    </dd>
                    <div th:if="${record.getConteneritems() != null}">
                        <div th:include="fragments/history.html :: contenthisttable_item" ></div>
                    </div>
                </div>
            </div>
        </dl>
    </dd>
</div>
