<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="content">

    <p text="WEBSITE ENTRY PAGE !" />

    <p th:text="'FROM MODEL: ' + ${name} + '!'" />

    <a href="/reacttest">goto React test page</a>
    <br>

    <script type="text/javascript" th:src="@{/website.js}">
    </script>
    <a href="javascript:;" onclick="app.httpGetJSON('httpreturnparam', 'WEBSITE ENTRY', 'item1')">RECEIVE WEBSITE ENTRY from Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('httpgetdatatest', null, 'content1')">LOAD JSON in Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('httpgetdatafpi', null, 'DBConteners')">LOAD JSON in Backend</a>
    <br>

</div>
