<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="content">

    <p text="WEBSITE ENTRY PAGE !" />

    <p th:text="'FROM MODEL: ' + ${name} + '!'" />

    <a href="/reacttest">goto React test page</a>

    <script type="text/javascript" th:src="@{/website.js}">
    </script>

    <a href="javascript:;" onclick="app.httpGetJSON('httptest1', 'WEBSITE ENTRY', 'item1')">RECEIVE WEBSITE ENTRY from Backend</a>
    <a href="javascript:;" onclick="app.httpGetJSON('httptest2', null, 'content1')">LOAD JSON in Backend</a>
    <a href="javascript:;" onclick="app.httpGetJSON('httptest3', null, 'data_CVtitle')">LOAD JSON in Backend</a>

</div>
