<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<div th:fragment="content">

    <p text="MAIN ENTRY PAGE !" />

    <p th:text="'FROM MODEL: ' + ${name} + '!'" />

    <a href="/testreact">goto React test page</a>
    <br>

    <script type="text/javascript" th:src="@{/website.js}">
    </script>
    <a href="javascript:;" onclick="app.httpGetJSON('testhttpgetfromparam', 'MAIN ENTRY', 'item1')">RECEIVE MAIN ENTRY from Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('testhttpgetjson0', null, 'content1')">LOAD JSON in Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('testhttpgetjson1', null, 'DBConteners')">LOAD JSON in Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('testpopulatedb', null, 'DBConteners')">PopulateDB</a>
    <br>

    <ul th:each="frame : ${collection}">
            
        <li th:text="
            'INDEX: ' + ${frame.getId()} +
            ', NAME: ' + ${frame.getName()}
        ">
        </li>

    </ul>

    <ul th:each="record : ${database}">
            
        <li>
            <p th:if="${record.getContenerphoto() != null}" th:text="${record.getContenerphoto()}" />
            <p th:if="${record.getContenername() != null}" th:text="${record.getContenername()}" />
            <p th:if="${record.getContenersubname() != null}" th:text="${record.getContenersubname()}" />
            <p th:if="${record.getContenerdate() != null}" th:text="${record.getContenerdate()}" />
            <ul th:if="${record.getConteneritems() != null}" th:each="item : ${record.getConteneritems()}">
                    
                <li>
                    <p th:if="${item.getHistkind() != null}" th:text="${item.getHistkind()}" />
                    <p th:if="${item.getHisttitle() != null}" th:text="${item.getHisttitle()}" />
                    <p th:if="${item.getHistdesc() != null}" th:text="${item.getHistdesc()}" />
                    <p th:if="${item.getHistduration() != null}" th:text="${item.getHistduration()}" />
                    <p th:if="${item.getHistextra() != null}" th:text="${item.getHistextra()}" />
                    <ul th:if="${item.getContentitems() != null}" th:each="content : ${item.getContentitems()}">
                            
                        <li>
                            <p th:if="${content.getEntrydesc() != null}" th:text="${content.getEntrydesc()}" />
                            <ul th:if="${content.getContentlist() != null}" th:each="sub : ${content.getContentlist()}">
                                    
                                <ul th:if="${sub.getData() != null}" th:each="text : ${sub.getData()}">
                                        
                                    <li th:text="${text}">
                                    </li>

                                </ul>

                            </ul>
                        </li>

                    </ul>
                </li>

            </ul>

        </li>

    </ul>

    <ul id="dyntest">
    </ul>
    <script th:inline="javascript">

        app.httpGetRAW("guirequestfrommain", "here is CONTENT MAIN", (text) => {
            console.log(text)
        });

        app.httpGetJSON('testhttpgetjson1', null, null, (text) => {
            console.log(text);

            const item = document.createElement("li");
            item.innerText = text;

            const dynlist = document.getElementById("dyntest");
            dynlist.appendChild(item);
        });

    </script>

</div>
