<div th:fragment="content">

    <p text="MAIN ENTRY PAGE !" />

    <p th:text="'FROM MODEL: ' + ${name} + '!'" />

    <a href="/reacttest">goto React test page</a>

    <a href="javascript:;" onclick="app.httpGet('httptest1', 'MAIN ENTRY', 'item1')">RECEIVE MAIN ENTRY from Backend</a>
    <a href="javascript:;" onclick="app.httpGet('httptest2', null, 'content1')">LOAD JSON in Backend</a>
    <a href="javascript:;" onclick="app.httpGet('httptest3', null, 'data_CVtitle')">LOAD JSON in Backend</a>
</div>
