<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<div th:fragment="header"
     class="navbar navbar-inverse navbar-fixed-top">

    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous"
    />

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MAIN ENTRY PAGE</a>
        </div>
    </div>

</div>

<div th:fragment="contentdivs">
    <p th:text="'MAIN ENTRY PAGE USING MODEL: ' + ${name} + '!'" />

    <a href="/testreact">goto React test page</a>
    <br>

    <script type="text/javascript" th:src="@{/website.js}">
    </script>
    <a href="javascript:;" onclick="app.httpGetJSON('testhttpgetfromparam', 'MAIN ENTRY', 'item1')">RECEIVE MAIN ENTRY from Backend</a>
    <br>
    <a href="javascript:;" onclick="app.httpGetJSON('testpopulatedb', null, 'DBConteners')">PopulateDB</a>
    <br>

</div>

<div th:fragment="contentdyn">
    <!-- -------------------------------------------------------------------------->
    <ul id="dyntest">
    </ul>

    <!-- -------------------------------------------------------------------------->
    <script type="text/javascript" th:src="@{/website.js}">
    </script>
    <script th:inline="javascript">

        app.httpGetRAW("guirequestfrommain", "here is CONTENT MAIN", (text) => {
            console.log(text)
        });

        app.httpGetJSON('exthttpgetjson1', null, "DBConteners", (text) => {
            console.log(text);

            const item = document.createElement("li");
            item.innerText = text;

            const dynlist = document.getElementById("dyntest");
            dynlist.appendChild(item);
        });

    </script>

</div>

<div th:fragment="contentreact">
    <!-- -------------------------------------------------------------------------->
    <script type="text/javascript" th:src="@{/website.js}">
    </script>
    <script th:inline="javascript">
        app.httpGetRAW("guirequestfromreact", "here is REACT PAGE");
    </script>

    <!-- -------------------------------------------------------------------------->
    <p id="modelname" hidden th:text="${name}" />
    <script type="text/javascript">
        window.reactgetmodelname = function() {
            return document.getElementById("modelname").innerText;
        }
    </script>

    <div id="contenerREACT1"></div>
    <script src="built/bundle.js"></script>

</div>

<div th:fragment="contenttesttable">
    <ul th:each="frame : ${collection}">
            
        <li th:text="
            'INDEX: ' + ${frame.getId()} +
            ', NAME: ' + ${frame.getName()}
        ">
        </li>

    </ul>

</div>

<div th:fragment="contentcvtable">
    <table>
        <tbody>
        <tr th:each="record : ${database}">
            <td><span th:text="${record.getContenerphoto()}"></span></td>
            <td><span th:text="${record.getContenername()}"></span></td>
            <td><span th:text="${record.getContenersubname()}"></span></td>
            <td><span th:text="${record.getContenerdate()}"></span></td>
            <td><span th:if="${record.getConteneritems() != null}">
                <table>
                    <tbody>
                    <tr th:each="item : ${record.getConteneritems()}">
                        <td><span th:text="${item.getHistkind()}"></span></td>
                        <td><span th:text="${item.getHisttitle()}"></span></td>
                        <td><span th:text="${item.getHistdesc()}"></span></td>
                        <td><span th:text="${item.getHistduration()}"></span></td>
                        <td><span th:text="${item.getHistextra()}"></span></td>
                        <td><span th:if="${item.getContentitems() != null}">
                            <table>
                                <tbody>
                                <tr th:each="content : ${item.getContentitems()}">
                                    <td><span th:text="${content.getEntrydesc()}"></span></td>
                                    <td><span th:if="${content.getContentlist() != null}">
                                        <table>
                                            <tbody>
                                            <tr th:each="sub : ${content.getContentlist()}">
                                                <td><span th:if="${sub.getListtext() != null}">
                                                    <table>
                                                        <tbody>
                                                        <tr th:each="text : ${sub.getListtext()}">
                                                            <td><span th:if="${text.getData() != null}">
                                                                <table>
                                                                    <tbody>
                                                                    <tr th:each="value : ${text.getData()}">
                                                                        <td><span th:text="${text.getData()}"></span></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </span></td>
                    </tr>
                    </tbody>
                </table>
            </span></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:fragment="contentcvliste">
    <ul th:each="record : ${database}">
            
        <li>
            <p th:if="${record.getContenerphoto() != null}" th:text="${record.getContenerphoto()}" />
            <p th:if="${record.getContenername() != null}" th:text="${record.getContenername()}" />
            <p th:if="${record.getContenersubname() != null}" th:text="${record.getContenersubname()}" />
            <p th:if="${record.getContenerdate() != null}" th:text="${record.getContenerdate()}" />
            <ul th:if="${record.getConteneritems() != null}" th:each="item : ${record.getConteneritems()}">
                    
                <li>
                    <p th:if="${item.getHistkind() != null}" th:text="${item.getHistkind()}" />
                    <p th:if="${item.getHisttitle() != null}" th:text="${item.getHisttitle()}" />
                    <p th:if="${item.getHistdesc() != null}" th:text="${item.getHistdesc()}" />
                    <p th:if="${item.getHistduration() != null}" th:text="${item.getHistduration()}" />
                    <p th:if="${item.getHistextra() != null}" th:text="${item.getHistextra()}" />
                    <ul th:if="${item.getContentitems() != null}" th:each="content : ${item.getContentitems()}">
                            
                        <li>
                            <p th:if="${content.getEntrydesc() != null}" th:text="${content.getEntrydesc()}" />
                            <ul th:if="${content.getContentlist() != null}" th:each="sub : ${content.getContentlist()}">
                                    
                                <ul th:if="${sub.getListtext() != null}" th:each="text : ${sub.getListtext()}">
                                        
                                    <ul th:if="${text.getData() != null}" th:each="value : ${text.getData()}">
                                            
                                        <li th:text="${value}">
                                        </li>

                                    </ul>

                                </ul>

                            </ul>
                        </li>

                    </ul>
                </li>

            </ul>

        </li>

    </ul>

</div>
