<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentreact" class="container grid-lg">
    <div id="contenerREACT1"></div>
    <p hidden id="modelname" th:text="${name}" />
    <script type="text/javascript" th:src="@{built/bundlereact.js}">
    </script>

</div>
