<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentdivs">
    <p th:text="'MAIN ENTRY PAGE USING MODEL: ' + ${name} + '!'" />

    <script type="text/javascript" th:src="@{built/bundlewebsite.js}">
    </script>
    <a href="javascript:;" onclick="window.testhttpgetfromparam()">RECEIVE MAIN ENTRY from Backend</a>
    <br>
    <a href="javascript:;" onclick="window.testpopulatedb()">PopulateDB</a>
    <br>

    <a href="/entryreact">goto React tests page</a>
    <br>

    <a href="/entryangular">goto Angular tests page</a>
    <br>

</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentdyn">
    <ul id="dyntest">
    </ul>

    <script type="text/javascript" th:src="@{built/bundlewebsite.js}">
    </script>
    <script type="text/javascript">
        try {
            window.guirequestfrommain();
            window.exthttpgetjson1();
        }
        catch (e) {
            console.log(e.toString())
        }
    </script>

</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contenttesttable">
    <ul th:each="frame : ${collection}">
            
        <li th:text="
            'INDEX: ' + ${frame.getId()} +
            ', NAME: ' + ${frame.getName()}
        ">
        </li>

    </ul>

</div>
