<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentdivs">
    <p th:text="'MAIN ENTRY PAGE USING MODEL: ' + ${name} + '!'" />

    <a href="/entryreact">goto React tests page</a>
    <br>

    <a href="/entryangular">goto Angular tests page</a>
    <br>

</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contenttesttable">
    <ul th:each="frame : ${collection}">
            
        <li th:text="
            'INDEX: ' + ${frame.getId()} +
            ', NAME: ' + ${frame.getName()}
        ">
        </li>

    </ul>

</div>
