<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentdivs" class="container grid-lg">

    <ul class="menu">
        <!-- menu header text -->
        <li class="divider" data-content="GOTO">
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entrycv">
                <i class="icon icon-link"></i> CV page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entryblog">
                <i class="icon icon-link"></i> BLOG page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entryaddressbook">
                <i class="icon icon-link"></i> AddressBook demo page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entryreact">
                <i class="icon icon-link"></i> React tests page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entryangular">
                <i class="icon icon-link"></i> Angular tests page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entryredis">
                <i class="icon icon-link"></i> Redis tests page
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/entrytasks">
                <i class="icon icon-link"></i> Tasks tests page
            </a>
        </li>
        <!-- menu header text -->
        <li class="divider" data-content="OR RUN">
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/extnativelib">
                <i class="icon icon-link"></i> extnativelib tests
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/openskyadsb_list">
                <i class="icon icon-link"></i> ADS-B tests
            </a>
        </li>
    </ul>

</div>
