<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

    <!-- -------------------------------------------------------------------------------------------------------------->
    <head>
    <!-- -------------------------------------------------------------------------------------------------------------->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="blogtechpage">
        <meta http-equiv="Content-Type" content="text/html">
        <!-- meta http-equiv="Content-Security-Policy"
              content="default-src 'self'
                https://www.w3schools.com
                https://fonts.googleapis.com
                https://cdnjs.cloudflare.com;
                script-src 'unsafe-inline' 'self';"
        -->

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- EXTERNAL RESSOURCES -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <link rel="stylesheet" type="text/css" title="cssw3" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        <link rel="modulepreload" href="/clientside/js/lib/clientside.js">
        <link rel="modulepreload" href="/clientside/js/impl/clientsideBLOG.js">
        <link rel="modulepreload" href="/clientside/js/clientsideIBLOG.js">

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- STYLE SHEETS -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <link rel="stylesheet" type="text/css" href="/clientside/css/clientside.css">
        <style>
            body, h1, h2, h3, h4, h5 {
                font-family: "Raleway", sans-serif
            }
        </style>

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- OTHERS -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <title>
            Technical BLOG
        </title>

    </head>

    <!-- -------------------------------------------------------------------------------------------------------------->
    <body class="w3-light-grey">

        <!-- w3-content defines a container for fixed size centered content,
        and is wrapped around the whole page content, except for the footer in this example -->
        <div class="w3-content" style="max-width:1800px" href="#home">

            <!-- ---------------------------------------------------------------------------------------------------------------------->
            <!-- BLOG HEADER -->
            <header class="w3-container w3-center w3-padding-32" id="headercard">
            </header>

            <!-- ---------------------------------------------------------------------------------------------------------------------->
            <!-- BLOG CONTENT -->
            <div class="w3-row">

                <!-- left column entries -->
                <div class="w3-col l8 s12">

                    <!-- ------------------- -->
                    <!-- Blog entry -->
                    <!-- Angular.js specific -->
                    <!-- OK, it's still hard-coded in html page, I don't know why when loaded from outside it doesn't functionate -->
                    <!-- ------------------- -->
                    <div id="blog_entry7" class="w3-card-4 w3-margin w3-white">
                        <img id="blog_entry7PHOTO" src="images/macro-1452987_640.jpg" alt="img" style="width:100%">
                        <div class="w3-container">
                            <h3 id="blog_entry7TITLE"></h3>
                            <h5 id="blog_entry7DATE"></h5>
                        </div>
                        <!-- ASYNC PROGRESS DISPLAY -->
                        <div id="blog_entry7wait">
                            <div class="myProgress" id="blog_entry7progress">
                                <div class="myBar" id="blog_entry7bar">Loading...</div>
                            </div>
                        </div>
                        <div id="blog_entry7CONTENT" class="w3-container">
                            <!-- NOTE -->
                            <!-- OK, it's still hard-coded in html page, I still don't know why when loaded from outside it doesn't functionate -->

                            <!-- IMPLEM -->
                            <div class="w3-container"
                                 id="angutest1"
                                 ng-app="testapp"
                                 ng-controller="testctrl"
                                 ng-init="person={ firstName: 'John', lastName: 'Doe' };
                                          points=[ 1, 15, 19, 2, 40 ]">

                                <!-- small test 1 ---------------------------------->
                                <div>
                                    <strong>  TEST with ng-init data  </strong>
                                    <br>The name in data (using ng-bind) is
                                    <strong><span ng-bind="person.firstName"></span></strong>
                                    <strong><span ng-bind="person.lastName"></span></strong>
                                    <br>The third item in array in data (using direct ref) is
                                    <strong>{{ points[2] }}</strong>
                                </div>
                                <br>
                                <!-- small test 2 ---------------------------------->
                                <div>
                                    <strong>  TEST with form / ng-model  </strong>
                                    <form>
                                        <br>First Name: <input type="text" ng-model="ifirstName">
                                        <br>Last Name: <input type="text" ng-model="ilastName">
                                    </form>
                                    Hello (using ng-model)
                                    <strong>{{ifirstName + " " + ilastName}}</strong>
                                </div>
                                <br>
                                <!-- small test 3 ---------------------------------->
                                <div>
                                    <strong> TEST with dynamic list (see clientsideBLOG.testANGULAR)  </strong>
                                    <ul>
                                        <li ng-repeat="x in products">{{x}}
                                            <span ng-click="dynlistremoveitem($index)"> [X] </span>
                                        </li>
                                    </ul>
                                    <input type="text" ng-model="addMe">
                                    <button ng-click="dynlistadditem()">Add</button>
                                </div>
                                <br>
                                <div>{{errortext}}
                                </div>
                                <br>
                                <!-- small test 4 ---------------------------------->
                                <div>
                                    <p><strong>  TEST with mouse  </strong>
                                        <h1 ng-mousemove="onmouseover($event)">Mouse Over here !</h1>
                                        <br>Coordinates (using ng-mousemove): <strong>{{x + ', ' + y}}</strong>
                                    </p>
                                </div>

                            </div>
                            <div class="w3-container"
                                 ng-app="otherapp"
                                 ng-controller="otherctrl"
                                 id="angutest2">

                                <!-- small test 5 ---------------------------------->
                                <div>
                                    <strong>  TEST WITH ngRoute  </strong>
                                    <p>Click on the links to change the content.</p>
                                    <a class="angmenu" href="#!default">None</a>
                                    <a class="angmenu" href="#!Menu1">Menu 1</a>
                                    <a class="angmenu" href="#!Menu2">Menu 2</a>
                                    <div ng-view></div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Blog entries -->
                    <!-- it's possible to split in many different grids -->
                    <div id="gridtech1">
                    </div>
                    <div id="gridtech2">
                    </div>

                </div>

                <!-- right info menu -->
                <div class="w3-col l4 sticky">

                    <div id="aboutcard"  class="sticky">
                    </div>

                    <div id="detailscard" class="w3-card-4 w3-margin w3-white sticky">
                        <span id="detailsname"></span>
                    </div>

                </div>

            </div>

        </div>

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- Footer -->
        <div id="footer"></div>

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- JS IMPLEMENTATION: STANDARD -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
        </script -->
        <script type="module">
            /*************************************************************************************
             * INCLUDES CODE
             *************************************************************************************/
            import { CLISIDE_IBLOGTECH } from "/clientside/js/clientsideIBLOG.js";
            /*************************************************************************************
             * INCLUDES DATA
             *************************************************************************************/
            /*************************************************************************************
             * IMPLEMENTATION
             *************************************************************************************/
            try {
                //page initialsation happends there
                /*
                */
                window.onload = function() { CLISIDE_IBLOGTECH.pageload(document, { create: 4, load: 5 }) };
                window.onunload = function() { CLISIDE_IBLOGTECH.pageunload(document, { create: 4, load: 5 }) };
                window.onscroll = function() { CLISIDE_IBLOGTECH.pagescroll(document, null) };
                /*
                window.onload_ = function() { CLISIDE_IBLOGTECH.pageload(document, { create: 4, load: 5 }) };
                window.onunload_ = function() { CLISIDE_IBLOGTECH.pageunload(document, { create: 4, load: 5 }) };
                window.onscroll_ = function() { CLISIDE_IBLOGTECH.pagescroll(document, null) };
                window.content1_ = [
                    { id: 19 },
                    { id: 18 },
                    { id: 16 },
                    { id: 15 },
                    { id: 13 },
                    { id: 11 },
                    { id: 8 },
                ]
                window.content2_ = [
                    { id: 7 },
                    { id: 5 },
                ]
                */
            }
            catch (e) {
                console.log(e.toString())
            }
            finally {
                //...
            }

        </script>

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- JS IMPLEMENTATION: REACT SPECIFIC -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js">
        </script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js">
        </script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js">
        </script>
        <script type="text/babel" src="../static/clientside/js/impl/clientsideREACT.js">
        </script>
        <script type="text/babel">
            /*************************************************************************************
             * INCLUDES CODE
             *************************************************************************************/
            /*************************************************************************************
             * INCLUDES DATA
             *************************************************************************************/
            /*************************************************************************************
             * IMPLEMENTATION
             *************************************************************************************/
            try {
//                reactexecuteBLOG('#gridtech1', window.content1_);
//                reactexecuteBLOG('#gridtech2', window.content2_);

                window.BLOGreactloader.localgetfile(document, "./clientside/cards/BLOGentryT11.html", "contener", "blog_entry11CONTENT",
                    () => {
                        reactexecuteTECH('#reacttestjsx');
                    }
                );

            }
            catch (e) {
                console.log(e.toString())
            }
            finally {
                //...
            }

        </script>

        <!-- -------------------------------------------------------------------------------------------------------------->
        <!-- JS IMPLEMENTATION: ANGULAR SPECIFIC -->
        <!-- -------------------------------------------------------------------------------------------------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js">
        </script>
        <script type="module">
            /*************************************************************************************
             * INCLUDES CODE
             *************************************************************************************/
            import { CLISIDE_BTECHLOCAL } from "../static/clientside/js/impl/clientsideBLOG.js";
            /*************************************************************************************
             * INCLUDES DATA
             *************************************************************************************/
            /*************************************************************************************
             * IMPLEMENTATION
             *************************************************************************************/
            try {
                // OK, it's still hard-coded in html page, I still don't know why when loaded from outside it doesn't functionate
                const local = new CLISIDE_BTECHLOCAL();
                local.testANGULAR1(document, "angutest1", "Firstname", "Lastname", ["Item 1", "Item 2", "Item 3"]);
                local.testANGULAR2(document, "angutest2");
            }
            catch (e) {
                console.log(e.toString())
            }
            finally {
                //...
            }

        </script>

    </body>

</html>
