<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div th:include="fragments/headermain.html :: header" ></div>

    <div th:include="fragments/contentmain.html :: contentdivs" ></div>
    <div th:include="fragments/contentmain.html :: contentcvtable" ></div>
<!--    <div th:include="fragments/contentmain.html :: contentcvliste" ></div>-->
<!--    <div th:include="fragments/contentmain.html :: contentdyn" ></div>-->
    <div th:include="fragments/contentmain.html :: contentreact" ></div>

</body>
</html>
