<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/spectre.min.css">
    <link rel="stylesheet" href="/style/spectre-exp.min.css">
    <link rel="stylesheet" href="/style/spectre-icons.min.css">

    <title>FRONTEND_ERROR</title>
</head>
<body>
    <h1>Error Occurred!</h1>   
    <b>[<span th:text="${status}">status</span>]
            <span th:text="${error}">error</span>
        </b>
    <p th:text="${message}">message</p>
</body>
</html>