<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache" />

    <!-- -------------------------------------------------------------------------------------------------------------->
    <!-- -------------------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- -------------------------------------------------------------------------------------------------------------->
    <!-- -------------------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="../static/clientside/css/clientside.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: "Lato", sans-serif;
        }

        body, html {
            height: 100%;
            color: #777;
            line-height: 1.8;
        }

    </style>

</head>

<body>

<div id="container">

    <h1 style="display:none">
        Francois Pignalet | Impressum
    </h1>

    <div id="header">
    </div>

    <div id="content_wrapper">

        <div id="main">
            <div id="content">
                <div class="box" id="websitepage_about">
                    <h3 class="add">
                        <u>Impressum und Datenschutzerklärung</u>
                    </h3>

                    <div id="menue">
                        <ul>
                            <li onclick="window.location.href='http://www.pignalet.de'">
                                <div style="cursor:pointer;">
                                    <a href="http://www.pignalet.de">Haupt seite</a>
                                </div>
                            </li>
                            <li onclick="window.location.href='http://www.pignalet.de'">
                                <div style="cursor:pointer;">
                                    <a href="http://www.pignalet.de"> Standort</a>
                                </div>
                            </li>
                            <li onclick="window.location.href='http://www.pignalet.de'">
                                <div style="cursor:pointer;">
                                    <a href="http://www.pignalet.de"> Kontakt</a>
                                </div>
                            </li>
                            <li class="active" onclick="window.location.href='http://www.pignalet.de/Impressum'">
                                <div style="cursor:pointer;">
                                    <a href="http://www.pignalet.de">Impressum Datenschutz</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="inner_form">
                        <h4>
                            <u>Angaben gemäß § 5 TMG:</u>
                        </h4>
                        <ul>
                            <li>Francois Pignalet</li>
                            <li>Curd-Jürgens-Str 18, 81739 München</li>
                            <li><a href="http://www.pignalet.de">http://www.pignalet.de</a></li>
                            <li>Telefon: 00491704868403</li>
                            <li>E-Mail: <a href="francois.pignalet@gmail.com">francois.pignalet@gmail.com</a></li>
                        </ul>

                        <h4>
                            <u>Vertreten durch</u>
                            <br>
                            Francois Pignalet
                        </h4>

                        <h4>
                            <u>Datenschutzerklärung</u>
                        </h4>
                        <p>
                            <ul>
                                <li>
                                    1. DATENSCHUTZ AUF EINEN BLICK
                                    <ul>
                                        <li>
                                            <u>ALLGEMEINE HINWEISE</u>
                                            <br />
                                            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen.
                                            Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.
                                            Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
                                        </li>
                                        <li>
                                            <u>DATENERFASSUNG AUF UNSERER WEBSITE</u>
                                            <br />
                                            <u>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</u>
                                            <br />
                                            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
                                            Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.
                                            Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet.
                                            <br />
                                            <u>Wie erfassen wir Ihre Daten?</u>
                                            <br />
                                            Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
                                            Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
                                            Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst.
                                            Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).
                                            Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.
                                            <br />
                                            <u>Wofür nutzen wir Ihre Daten?</u>
                                            <br />
                                            Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.
                                            Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
                                            <br />
                                            <u>Welche Rechte haben Sie bezüglich Ihrer Daten?</u>
                                            <br />
                                            Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten.
                                            Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen.
                                            Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                                            Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    2. ALLGEMEINE HINWEISE UND PFLICHTINFORMATIONEN
                                    <ul>
                                        <li>
                                            <u>DATENSCHUTZ</u>
                                            <br />
                                            Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
                                            Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                                            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
                                            Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können.
                                            Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen.
                                            Sie erläutert auch, wie und zu welchem Zweck das geschieht.
                                            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
                                            Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                                        </li>
                                        <li>
                                            <u>WIDERRUF IHRER EINWILLIGUNG ZUR DATENVERARBEITUNG</u>
                                            <br />
                                            Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
                                            Sie können eine bereits erteilte Einwilligung jederzeit widerrufen.
                                            Dazu reicht eine formlose Mitteilung per E-Mail an uns.
                                            Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
                                        </li>
                                        <li>
                                            <u>BESCHWERDERECHT BEI DER ZUSTÄNDIGEN AUFSICHTSBEHÖRDE</u>
                                            <br />
                                            Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
                                            Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Sitz hat.
                                            Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden:
                                            <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                                        </li>
                                        <li>
                                            <u>SSL- BZW. TLS-VERSCHLÜSSELUNG</u>
                                            <br />
                                            Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw.
                                            TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers
                                            von <a href="http://" target="_blank">http://</a>
                                            auf <a href="https://" target="_blank">https://</a> wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
                                            <br />
                                            Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
                                        </li>
                                        <li>
                                            <u>AUSKUNFT, SPERRUNG, LÖSCHUNG</u>
                                            <br />
                                            Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
                                            Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <u></u>3. DATENERFASSUNG AUF DIESER WEBSEITE
                                    <ul>
                                        <li>
                                            <u>SERVER-LOG-DATEIEN</u>
                                            <br />
                                            Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:
                                        </li>
                                        <li>
                                            <u>BROWSERTYP UND BROWSERVERSION</u>
                                            <ul>
                                                <li>verwendetes Betriebssystem</li>
                                                <li>Referrer URL</li>
                                                <li>Hostname des zugreifenden Rechners</li>
                                                <li>Uhrzeit der Serveranfrage</li>
                                                <li>IP-Adresse</li>
                                            </ul>
                                            Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
                                            <br />
                                            Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <u></u>4. PLUGIN UND TOOLS
                                    <ul>
                                        <li>
                                            <u>GOOGLE MAPS</u>
                                            <br />
                                            Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
                                            Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu speichern.
                                            Diese Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                                            Der Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung.
                                            Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an einer leichten Auffindbarkeit der von uns auf der Website angegebenen Orte.
                                            Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
                                            Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung
                                            von Google: <a href="https://www.google.de/intl/de/policies/privacy/" target="_blank">https://www.google.de/intl/de/policies/privacy/</a>.

                                        </li>

                                    </ul>

                                    <u></u>4. IMAGES
                                    <ul>
                                        <li>
                                            BLOG NEWS:
                                            <br />
                                            <a href="https://www.generalimuenchenmarathon.de/fotogalerien/gmm-2018/" target="_blank">https://www.generalimuenchenmarathon.de/fotogalerien/gmm-2018/</a>
                                        </li>
                                        <li>
                                            BLOG TECH:
                                            <br />
                                            <a href="https://stock.adobe.com/de/" target="_blank">https://stock.adobe.com/de/</a>
                                        </li>
                                        <li>
                                            All others are personal photos.
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </p>

                        <p>
                            <h4>
                                <u>Technische Realisierung</u>
                            </h4>
                            <ul>
                                <li>Francois Pignalet</li>
                                <li>Curd-Jürgens-Str 18, 81739 München</li>
                                <li><a href="http://www.pignalet.de">http://www.pignalet.de</a></li>
                                <li>Telefon: 00491704868403</li>
                                <li>E-Mail: <a href="francois.pignalet@gmail.com">francois.pignalet@gmail.com</a></li>
                            </ul>
                        </p>

                    </div>
                </div>

            </div>
            <div>
                <p>
                    <h4>
                        <u>Kontakt</u>
                    </h4>
                    <ul>
                        <li>Francois Pignalet</li>
                        <li>Curd-Jürgens-Str 18, 81739 München</li>
                        <li><a href="http://www.pignalet.de">http://www.pignalet.de</a></li>
                        <li>Telefon: 00491704868403</li>
                        <li>E-Mail: <a href="francois.pignalet@gmail.com">francois.pignalet@gmail.com</a></li>
                    </ul>
                </p>

            </div>

        </div>

    </div>

</div>

</body>
</html>
