<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/main.css" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
    />
</head>
<body>
    <p th:text="'THYMELEAF Retest, ' + ${name} + '!'"></p>

    <!-- -------------------------------------------------------------------------->
    <div id="contenerREACT1"></div>
    <div id="contenerREACT2"></div>
    <script src="built/bundle.js"></script>

</body>
</html>
