<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/spectre.min.css">
    <link rel="stylesheet" href="/style/spectre-exp.min.css">
    <link rel="stylesheet" href="/style/spectre-icons.min.css">

    <div th:include="fragments/tasks.html :: header" ></div>

    <title>FRONTEND_TASKS</title>

</head>
<body>
<!--
    <div class="fixed-parallax">
        <div class="image one"></div>
        <div class="content">
            <div th:include="fragments/tests.html :: contentdivs" ></div>
            <div th:include="fragments/tests.html :: contenttasks" ></div>

        </div>
        <div class="image two"></div>
    </div>
-->
    <div th:include="fragments/tasks.html :: contenttasks" ></div>

    <div th:include="fragments/tasks.html :: footer" ></div>

</body>
</html>
