<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentblogtable" class="container grid-lg">

    <div class="timeline" th:if="${model_JSONHIST != null}">
        <div th:include="fragments/blog.html :: contentblogtable_timeline"></div>
    </div>

    <!--        <script type="text/javascript" th:src="@{built/jquery-3.4.1.min.js}"></script>-->
    <script th:inline="javascript">
        //something...
    </script>

</div>

<div th:fragment="contentblogtable_timeline">
    <dd th:each="record, iterrecord : ${model_JSONHIST}">
        <dl th:if="${record.getContenertype() == 'BLOGNEWSENTRY' or record.getContenertype() == 'BLOGTECHENTRY'}" >
            <div class="timeline-item" id="timeline-example-2">
                <div class="timeline-left">
                    <a class="timeline-icon icon-lg" href="#timeline-example-2">
                        <i class="icon icon-check"></i>
                    </a>
                </div>
                <div class="timeline-content">
                    <div th:include="fragments/blog.html :: contentblogtable_record"></div>
                </div>
            </div>
        </dl>
    </dd>
</div>

<div th:fragment="contentblogtable_record">

<!--
    <div th:if="${record.getContenertype() == 'BLOGTECHENTRY'}" >
        <span>[debugging]BLOGTECHENTRY:</span>
    </div>
    <div th:if="${record.getContenertype() == 'BLOGNEWSENTRY'}" >
        <span>[debugging]BLOGNEWSENTRY:</span>
    </div>
    <div th:if="${record.getContenertype() == 'JOBENTRY'}" >
        <span>[debugging]JOBENTRY:</span>
    </div>
-->

    <dd class="label" th:if="${record.getContenerdate() != null}" th:text="${record.getContenerdate()}"></dd>
    <div class="card">
        <div class="card-image">
            <img th:if="${record.getContenerphoto() != null}" th:src="${record.getContenerphoto()}"></img>
        </div>
        <div class="card-header">
            <div class="card-title h5">
                <span class="label" th:if="${record.getContenername() != null}" th:text="${record.getContenername() + ':'}"></span>
            </div>
            <div class="card-subtitle text-gray">
                <span class="label label-secondary" th:if="${record.getContenersubname() != null}" th:text="${record.getContenersubname()}"></span>
            </div>
        </div>
        <div class="card-body">
            <div th:include="fragments/history.html :: contenthisttable_item" ></div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">...</button>
        </div>
    </div>
</div>
