<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentreact" class="container grid-lg">

    <div id="contenerREACT1"></div>

    <p hidden id="modelname" th:text="${name}" />
    <script type="text/javascript" th:src="@{built/bundlereact.js}">
        /* Will use "contenerREACT1" element */
    </script>

</div>
