<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">

<!-- -------------------------------------------------------------------------->
<div th:fragment="header">
</div>

<div th:fragment="footer">
</div>

<!-- -------------------------------------------------------------------------->
<div th:fragment="contentdivs" class="container grid-lg">

    <ul class="menu">
        <!-- menu header text -->
        <li class="divider" data-content="READ:">
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entrycv">
                    <i class="icon icon-link"></i> My CV
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            My CV / Resume / Lebenslauf
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entryblog">
                    <i class="icon icon-link"></i> My BLOG
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            The entries of my NEWS Blog
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu header text -->
        <li class="divider" data-content="TRY:">
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entryaddressbook">
                    <i class="icon icon-link"></i> DEMO: AddressBook
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            An simple address book demo linked to database
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entryreact">
                    <i class="icon icon-link"></i> DEMO: React tests
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            Some quick'n'dirty React JS components
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entryangular">
                    <i class="icon icon-link"></i> DEMO: Angular tests
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            Some Angular JS applications
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entryredis">
                    <i class="icon icon-link"></i> DEMO: Redis tests
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            A basic test with Redis
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <div class="popover popover-right">
                <a href="/entrytasks">
                    <i class="icon icon-link"></i> DEMO: Tasks tests
                </a>
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            Start / stop threads inside this application
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- menu header text -->
        <li class="divider" data-content="OR RUN:">
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/extnativelib">
                <i class="icon icon-link"></i> extnativelib tests
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/openskyadsb_list">
                <i class="icon icon-link"></i> ADS-B tests
            </a>
        </li>
        <!-- menu item standard -->
        <li class="menu-item">
            <a href="/testmicroservicecomrest">
                <i class="icon icon-link"></i> Microservices tests
            </a>
        </li>
    </ul>

</div>
